 <%- include ../includes/menu %>

<div class="container">

<div class="row">
<div class ="col-md-12">
<div class="page-header">
<h1>Servicios</h1>
<div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Chofer</th>
        <th>Monto</th>
        <th>Forma de Pago</th>
        <th>Fecha / Hora</th>
        <th>Estatus</th>
        <th>Detalle</th>
      </tr>
    </thead>
<tbody>
    <%  

                            _.each(servicios,function(servicio){ 

var monto = servicio.monto || 000;

if(servicio.cliente && servicio.chofer){

%>
      <tr>
        
        <td><%= servicio.cliente.email%></td>
        <td><%= servicio.chofer.email%></td>
        <td>$<%= monto.toFixed(2) %> MXN</td>
        <td><%= servicio.solicitud.tipodePago%></td>
        <td><%= moment(servicio.createdAt).format('DD-MM-YYYY HH:mm')%></td>
        <td><%=servicio.status%></td>
        <td><a href="./servicios/detalle/<%= servicio.id %>" class="btn btn-primary">Ver Detalle</a></td>

      </tr><% }})%>
</tbody>
    </table>

</div>
</div>


</div>