
 <%- include includes/menu %>
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">Usuarios Conectados</div>
  <div class="panel-body"><center><h1><%=clientes_conectados%></h1></center></div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">Solicitudes del Dia</div>
  <div class="panel-body"><center><h1><%=solicitudes_hoy%></h1></center></div>
</div>
</div>

</div>
<div class="row">
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">Choferes Disponibles</div>
  <div class="panel-body"><center><h1><%= choferes_conectados%></h1></center></div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">Servicios del Dia</div>
  <div class="panel-body"><center><h1><%=servicios_hoy%></h1></center></div>
</div>
</div>

</div>
</div>

<script>
$( document ).ready(function() {

io.socket.on('solicitud.enbusqueda', function (msg) {



  alert('nueva solicitud');



});
})
</script>