 <%- include ../includes/menu %>

<div class="container">

<div class="row">
<div class ="col-md-12">
<div class="page-header">
<h1>Autos</h1>
<div>
<div class=""><a href="<%='/admin/autos/new/' + chofer.id %> " class="btn btn-default">Nuevo Auto</a></div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>Placas</th>
        <th>Color</th>
        <th>Poliza Seg.</th>
        <th>Vigencia</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>

        <%  
        _.each(autos,function(auto){ 
        %>
        <tr>
            <td><%= auto.marca%></td>
            <td><%= auto.modelo%></td>
            <td><%= auto.anio%></td>
            <td><%= auto.placas%></td>
            <td><%= auto.color%></td>
            <td><%= auto.empSeguro%> | <%= auto.numSeguro%></td>
            <td><%= auto.vigenciaPoliza %></td>
            <td><a href="#" class="btn btn-primary">Editar</a> <a href="#" class="btn btn-danger">Eliminar</a></td>
        </tr>
        <% })%>
    </tbody>
</table>

</div>
</div>


</div>