 <%- include ../includes/menu %>

<div class="container">

<div class="row">
<div class ="col-md-12">
<div class="page-header">
<h1>Cortes</h1>
<div>
<div class=""><a href="#" class="btn btn-default" id='btnExport'><span class="glyphicon glyphicon-save-file"></span> Exportar </a></div>
<div id="dvData">
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha inicial</th>
        <th>Fecha final</th>
        <th>Monto Choferes</th>
        <th>Monto Delegado</th>
        <th>Monto Total</th>
        <th>Fecha/Hora</th>
      </tr>
    </thead>
<tbody>
    
    <%  

  _.each(cortes,function(corte){ %>
      <tr>
        <td><%= corte.id %></td>
        <td><%= moment(corte.fecha_inicial).format('DD-MM-YYYY HH:mm') %></td>
        <td><%= moment(corte.fecha_fin).format('DD-MM-YYYY HH:mm') %></td>
        <td>$<%= corte.monto_total_choferes.toFixed(2) %></td>
        <td>$<%= corte.monto_total_delegado.toFixed(2) %></td>
        <td>$<%= (corte.monto_total_choferes+corte.monto_total_delegado).toFixed(2) %></td>
        <td><%= moment(corte.createdAt).format('DD-MM-YYYY HH:mm') %></td>
      </tr>
     <% })%>
</tbody>
    </table>
</div>
</div>
</div>


</div>
    
   <script type="application/javascript">
        
        $( document ).ready(function() {
            
      $("#btnExport").click(function(e) {

            window.open('data:application/vnd.ms-excel,' + $('#dvData').html());

            e.preventDefault();

            });
    });
        
    </script>