 <%- include ../includes/menu %>

<div class="container">

<div class="row">
<div class ="col-md-12">
<div class="page-header">
<h1>Choferes</h1>
<div>
<div class=""><a href="#" class="btn btn-default">Nuevo Chofer</a></div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Operaciones</th>
      </tr>
    </thead>
<tbody>
<%  

_.each(choferes,function(chofer){ %>
      <tr>
        <td><%= chofer.nombre%></td>
        <td><%= chofer.apellido%></td>
        <td><%= chofer.email%></td>
        <td><%= chofer.telefono%></td>
        <td><a href="#" class="btn btn-primary">Editar</a><a href="#" class="btn btn-danger">Bloquear</a></td>
      </tr><% })%>
</tbody>
    </table>

</div>
</div>


</div>