 <%- include ../includes/menu %>

<div class="container">
<div id="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14375.642758222635!2d-100.299279!3d25.7404669!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1487983702167" width="900" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="row">
<div class ="col-md-12">
<div class="page-header">
<h1>Choferes</h1>
<div>
<div class=""><a href="#" class="btn btn-default">Nuevo Chofer</a></div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Operaciones</th>
      </tr>
    </thead>
<tbody>
<%  

_.each(choferes,function(chofer){ %>
      <tr>
        <td><%= chofer.nombre%></td>
        <td><%= chofer.apellido%></td>
        <td><%= chofer.email%></td>
        <td><%= chofer.telefono%></td>
        <td><a href="#" class="btn btn-primary">Editar</a><a href="#" class="btn btn-danger">Bloquear</a></td>
      </tr><% })%>
</tbody>
    </table>

</div>
</div>


</div>
<script>
$( document ).ready(function() {


io.socket.on('connect', function onConnect (params) {

  console.log("Socket connected!");

});
io.socket.on('disconnect', function(){
      console.log('Lost connection to server');
  });
io.socket.on('algo', function onConnect (res) {
debugger;
  console.log("Has algo");
});
});




</script>