<%- include ../includes/menu %>

<div class="container">
    <form method="POST" id="form_config" >
        <div class="row">
            <div class ="col-md-12">
                <div class="page-header">
                    <h1>Configuracion</h1>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Datos Empresa</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class = "col-md-12">
                                            <label for="nombre">Nombre Empresa:</label>
                                            <input type="text" class="form-control" name="nombre" id="nombre" value="<%= config.nombre %>" required="true">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class = "col-md-12">
                                            <label for="slogan">Slogan Empresa:</label>
                                            <input type="text" class="form-control" name="slogan" id="slogan" value="<%=config.slogan%>" required="true">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class = "col-md-12">
                                            <label for="logo_utl_def">Logo Empresa:</label>
                                            <input type="text" class="form-control" name="logo_utl_def" id="logo_utl_def" value="<%=config.logo_utl_def %>" required="true">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class = "col-md-12">
                                            <label for="direccion">Direccion:</label>
                                            <input type="text" class="form-control" name="direccion" id="direccion" value="<%=config.direccion %>" required="true">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class = "col-md-12">
                                            <label for="nombre_app_cliente">Nombre App Cliente:</label>
                                            <input type="text" class="form-control" name="nombre_app_cliente" id="nombre_app_cliente" value="<%=config.nombre_app_cliente %>" required="true">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class = "col-md-12">
                                            <label for="nombre_app_chofer">Nombre App Chofer:</label>
                                            <input type="text" class="form-control" name="nombre_app_chofer" id="nombre_app_chofer" value="<%=config.nombre_app_chofer %>" required="true">
                                        </div>
                                    </div>

                                </div>
                            </div>  


                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Tarifas</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class = "col-md-12">
                                            <label for="tarifa_base">Tarifa Base</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="number" class="form-control" value="<%=config.tarifa_base%>" name="tarifa_base"  id="tarifa_base" required ="true" step=".1" min="0">
                                                <span class="input-group-addon">MXN</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class = "col-md-12">
                                            <label for="tarifa_kilometro">Tarifa Por Kilometro</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="number" class="form-control" value="<%=config.tarifa_kilometro%>" name="tarifa_kilometro"  id="tarifa_kilometro" required="true" step=".1" min="0">
                                                <span class="input-group-addon">MXN</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class = "col-md-12">
                                            <label for="tarifa_cancel">Tarifa de cancelacion</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="number" class="form-control" value="<%=config.tarifa_cancel%>" name="tarifa_cancel" required="true" id="tarifa_cancel" step=".1" min="0">
                                                <span class="input-group-addon">MXN</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class = "col-md-12">
                                            <label for="tarifa_minuto">Tarifa por minuto</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="number" class="form-control" value="<%=config.tarifa_minuto%>" name="tarifa_minuto" required="true" step=".1" min="0">
                                                <span class="input-group-addon">MXN</span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class = "col-md-12">
                                            <label for="tarifa_minima">Tarifa Minima</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>

                                                <input type="text" class="form-control" value="<%=config.tarifa_minima%>" name="tarifa_minima" required="true" id="tarifa_minima" step=".1" min="0">
                                                <span class="input-group-addon">MXN</span>
                                            </div>
                                        </div>
                                    </div>



                                </div></div></div>


                    </div>


                </div>


                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Mapas</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class = "col-md-12">
                                    <label for="dist_busqueda_servi">Radio de Busqueda</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" value="<%=config.dist_busqueda_servi%>" name="dist_busqueda_servi" id="dist_busqueda_servi">
                                        <span class="input-group-addon">KM.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class = "col-md-12">
                                    <label for="zoom_map">Zoom Mapa</label>
                                    <input type="number" class="form-control" value="<%= config.zoom_map %>"  id="zoom_map"  name="zoom_map" required="true">
                                </div>
                            </div>

                            <div class="row">
                                <div class = "col-md-12">
                                    <label for="conekta_email">Cuenta de Conekta</label>
                                    <input type="text" class="form-control" value="<%= config.conekta_email %>" name="conekta_email" id="conekta_email" required="true">
                                </div>
                            </div>
                            <div class="row">
                                <div class = "col-md-12">
                                    <label for="conekta_pass">Password de Conekta</label>
                                    <input type="text" class="form-control" value="<%=config.conekta_pass%>" name="conekta_pass" id="conekta_pass" required="true">
                                </div>
                            </div>
                            <div class="row">
                                <div class = "col-md-12">
                                    <label for="conekta_key">Key de Conekta</label>
                                    <input type="text" class="form-control" value="<%=config.conekta_key %>" name="conekta_key" id="conekta_key" required="true">
                                </div>
                            </div>
                            <div class="row">
                                <div class = "col-md-12">
                                    <label for="google_mapskey_back">Key de Google Maps</label>
                                    <input type="text" class="form-control" value="<%=config.google_mapskey_back %>" name="google_mapskey_back" required="true" id="google_mapskey_back">
                                </div>
                            </div>


                        </div></div></div></div>
            <div class="col-md-6">
                <div class="row" style="margin:20px;">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-lg btn-success">Guardar</button>  

                    </div>
                </div>  
            </div>

        </div>

    </form>

</div>
<%- include ../includes/footer %>