 <%- include ../includes/menu %>

<div class="container">

<div class="row">
<div class ="col-md-12">
<div class="page-header">
<h1>Pagos</h1>
<div>
<div class=""><a href="#" class="btn btn-default" id='btnExport'><span class="glyphicon glyphicon-save-file"></span> Exportar </a></div>
<div id="dvData">
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Servicio</th>
        <th>Chofer</th>
        <th>Tipo de Pago</th>
        <th>Monto Chofer</th>
        <th>Monto Comision</th>
        <th>Monto Total</th>
        <th>Referencia</th>
        <th>Fecha/Hora</th>
      </tr>
    </thead>
<tbody>
    
    <%  

  _.each(cobros,function(cobro){ %>
      <tr>
        <td><%= cobro.id %></td>
        <td><%= cobro.viaje %></td>
        <td><%= cobro.choferObj.email %></td>
        <td><% if(cobro.tipo_pago == 0 ||cobro.tipo_pago == 1){ %>
            EFECTIVO
            <% }else{ %>
            TARJETA
            <% } %>        
        </td>
        <td>$<%= cobro.monto_chofer.toFixed(2) %></td>
        <td>$<%= cobro.monto_comision.toFixed(2) %></td>
        <td>$<%= cobro.monto_total.toFixed(2) %></td>
        <td><%= cobro.referencia_bancaria %></td>
        <td><%= moment(cobro.createdAt).format('DD-MM-YYYY HH:mm') %></td>
      </tr>
     <% })%>
</tbody>
    </table>
</div>
</div>
</div>


</div>
    
   <script type="application/javascript">
        
        $( document ).ready(function() {
            
      $("#btnExport").click(function(e) {

            window.open('data:application/vnd.ms-excel,' + $('#dvData').html());

            e.preventDefault();

            });
    });
        
    </script>