 <%- include ../includes/menu %>

<div class="container">

<div class="row">
<div class ="col-md-12">
<div class="page-header">
<h1>Pagos</h1>
<div class="col-md-1" style="margin:5px;"><a href="#" class="btn btn-default" id='btnExport'><span class="glyphicon glyphicon-save-file"></span> Exportar </a></div>
<div class="col-md-1" style="margin:5px;"><a href="#" class="btn btn-default" id='btnCrearCorte'><span class="glyphicon glyphicon-usd"></span> Crear Corte </a></div>



<div id="dvData">
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Servicio</th>
        <th>Chofer</th>
        <th>Tipo de Pago</th>
        <th>Monto Chofer</th>
        <th>Monto Comision</th>
        <th>Monto Total</th>
        <th>Referencia</th>
        <th>Fecha/Hora</th>
      </tr>
    </thead>
<tbody>
    
    <%  

  _.each(cobros,function(cobro){ %>
      <tr>
        <td><%= cobro.id %></td>
        <td><%= cobro.viaje %></td>
        <td><%= cobro.chofer %></td>
        <td><% if(cobro.tipo_pago == 0 ||cobro.tipo_pago == 1){ %>
            EFECTIVO
            <% }else{ %>
            TARJETA
            <% } %>        
        </td>
        <td>$<%= cobro.monto_chofer.toFixed(2) %></td>
        <td>$<%= cobro.monto_comision.toFixed(2) %></td>
        <td>$<%= cobro.monto_total.toFixed(2) %></td>
        <td><%= cobro.referencia_bancaria %></td>
        <td><%= moment(cobro.createdAt).format('DD-MM-YYYY HH:mm') %></td>
      </tr>
     <% })%>
</tbody>
    </table>
</div>
</div>
</div>
</div>

</div>
    
   <script type="application/javascript">
        
        $( document ).ready(function() {
            
            var waitingDialog = waitingDialog || (function ($) {
                            'use strict';

                                // Creating modal dialog's DOM
                                var $dialog = $(
                                        '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
                                        '<div class="modal-dialog modal-m">' +
                                        '<div class="modal-content">' +
                                                '<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
                                                '<div class="modal-body">' +
                                                        '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
                                                '</div>' +
                                        '</div></div></div>');

                                return {
                                        /**
                                         * Opens our dialog
                                         * @param message Custom message
                                         * @param options Custom options:
                                         * 				  options.dialogSize - bootstrap postfix for dialog size, e.g. "sm", "m";
                                         * 				  options.progressType - bootstrap postfix for progress bar type, e.g. "success", "warning".
                                         */
                                        show: function (message, options) {
                                                // Assigning defaults
                                                if (typeof options === 'undefined') {
                                                        options = {};
                                                }
                                                if (typeof message === 'undefined') {
                                                        message = 'Loading';
                                                }
                                                var settings = $.extend({
                                                        dialogSize: 'm',
                                                        progressType: '',
                                                        onHide: null // This callback runs after the dialog was hidden
                                                }, options);

                                                // Configuring dialog
                                                $dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
                                                $dialog.find('.progress-bar').attr('class', 'progress-bar');
                                                if (settings.progressType) {
                                                        $dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
                                                }
                                                $dialog.find('h3').text(message);
                                                // Adding callbacks
                                                if (typeof settings.onHide === 'function') {
                                                        $dialog.off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
                                                                settings.onHide.call($dialog);
                                                        });
                                                }
                                                // Opening dialog
                                                $dialog.modal();
                                        },
                                        /**
                                         * Closes dialog
                                         */
                                        hide: function () {
                                                $dialog.modal('hide');
                                        }
                                };

                })(jQuery);
            
      $("#btnExport").click(function(event) {

            window.open('data:application/vnd.ms-excel,' + $('#dvData').html());

            event.preventDefault();

            });
            
            
       $("#btnCrearCorte").click(function(event){
           
                      
           waitingDialog.show('Creando Corte de Pagos');
           
           
           io.socket.post('/admin/delegados/corte/create',{},function(resData, jwres){
               
               
              if(resData[0]){
                  
                if(resData[0][0].err = "sin_cobros"){
                    
                    waitingDialog.hide();
                    alert("No existen cobros para hacer el corte.");
                    
                    return false;
                    
                }
                  
              }
               

              window.location.replace("/admin/delegados/cortes");

               
           },function(err){
               
               console.log(err);
               debugger;
           });
           
        
     
           
       });     
    });
        
    </script>